.profile-pic {
    width: 50%;
    height: auto;
  }
body {
    font-family: sans-serif;
    background-color: #E6F3F8; /* Hex color code for a light gray background */
    margin: 10px 300px 100px;
  }